:root {
  --white-text: rgba(255,255,255,1);
  --white-text-op: rgba(255, 255, 255, 0.6);
  --black-text: rgba(33, 33, 33, 1);
  --black-text-logo: rgba(0, 0, 0, 1);
  --black-background: rgba(47, 48, 58, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --blue-background: rgba(33, 150, 243, 0.9);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-background: rgba(245, 244, 250, 1);
  --card-set-gap: 30px;
  --icon-color: rgba(175, 177, 184, 1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
}

p {
  color: var(--grey-text);
}

ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.site-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .site-header__nav {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-header__nav {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .site-header__nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav,
  .auth-nav {
    display: none;
  }
}

/* Site nav */
.site-header__logo,
.site-header__span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.site-header__logo {
  color: var(--blue-text);
}

.site-header__span {
  color: var(--black-text-logo);
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link {
  color: var(--black-text);
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .site-nav__link {
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav__link {
    padding: 46px 0;
  }
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--blue-text);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-text);
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.auth-nav__link {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--blue-text);
}

.auth-nav__link:not(:last-child) {
  margin-right: 40px;
}

.auth-nav__icon-envelop {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__icon-smartphone {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .auth-nav__icon-smartphone {
    margin-left: 20px;
  }
}

.hero {
  background-color: var(--black-background);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/overlay-1600.jpg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/overlay-1600.jpg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/overlay-1600.jpg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/overlay-1600.jpg@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/overlay-768.jpg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/overlay-768.jpg.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/overlay-768.jpg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/overlay-768.jpg@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/overlay-480.jpg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/overlay-480.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/overlay-480.jpg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/overlay-480.jpg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__hero-title {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 30px;
    color: var(--white-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1199px) {
  .hero__hero-title {
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.hero__hero-button {
  padding: 10px 32px;
  margin-bottom: 0px;
  color: var(--white-text);
  background-color: var(--blue-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  background-color: var(--white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    min-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}

.box-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.box-close:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-close:hover {
  fill: var(--blue-text);
}

.signup-form__text-up {
  color: var(--black-text);
}

@media screen and (min-width: 1200px) {
  .signup-form__text-up {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .signup-form__text-up {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
}

.signup-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--grey-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.signup-form__input {
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.signup-form__input:focus {
  border-color: var(--blue-text);
}

.signup-form__input:focus + .signup-form__icon {
  fill: var(--blue-text);
}

.signup-form__input-wrapper {
  position: relative;
}

.signup-form__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.signup-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 17px 16px;
  margin-bottom: 20px;
  height: 120px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  resize: none;
}

.signup-form__textarea:focus {
  border-color: var(--blue-text);
}

/* CHEKBOX */
.span {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  background: #FFFFFF;
  border-radius: 2px;
  margin-right: 8px;
}

.form-field__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-field__checkbox:checked + .span {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.signup-form__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-form__form-label {
  color: var(--grey-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .signup-form__form-label {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .signup-form__form-label {
    font-size: 12px;
    line-height: 14px;
  }
}

.signup-form__text-down-span {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--blue-text);
  margin-left: 5px;
}

.signup-form__button-modal {
  color: var(--white-text);
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    width: 270px;
  }
}

.advantages-list__item:nth-child(-n+2) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;
    height: 120px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--grey-background);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 1199px) {
  .advantages-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--grey-background);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 767px) {
  .advantages-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--grey-background);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantages-image__icon-advantages {
  width: 70px;
  height: 70px;
}

.advantages-list__advantages-title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--black-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .advantages-list__advantages-title {
    text-align: center;
  }
}

.advantages-list__advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__title,
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--black-text);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.work-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0px;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__text {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 00.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: var(--grey-background);
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .team {
    background-color: var(--grey-background);
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.team__title-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    padding-left: 0px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list {
    padding-left: 0px;
    margin: 0;
  }
}

.team-list__item {
  background-color: var(--white-text);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list__thumb {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .team-list__thumb {
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__thumb {
    height: 260px;
  }
}

.team-list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title-team {
  color: var(--black-text);
}

@media screen and (min-width: 1200px) {
  .team__title-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team__title-team {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.team-list__title {
  text-align: center;
  color: var(--black-text);
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team-list__text {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding: 16px 27px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 122px 24px;
  }
}

.social-list__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: var(--icon-color);
  background-color: var(--white-text);
  fill: var(--white-text);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-list__social-link:hover, .social-list__social-link:focus {
  background-color: var(--blue-text);
  color: var(--white-text);
}

.social-list__social-icons {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0px;
  }
}

@media screen and (max-width: 1199px) {
  .clients {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title-clients {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--black-text);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 1199px) {
  .clients__title-clients {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__items {
    width: calc((100% - 4 * 15px) / 2);
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__items {
    width: calc((100% - 6 * 15px) / 3);
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__items:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  background-color: var(--white-text);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
    height: 90px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list__link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__link {
    width: 210px;
    height: 90px;
  }
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--blue-text);
  color: var(--blue-text);
}

.clients-list__logo-1 {
  width: 44px;
  height: 49px;
  fill: currentColor;
}

.clients-list__logo-2 {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.clients-list__logo-3 {
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.clients-list__logo-4 {
  width: 80px;
  height: 75px;
  fill: currentColor;
}

.clients-list__logo-5 {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.clients-list__logo-6 {
  width: 88px;
  height: 80px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .card-button {
    padding: 94px 0;
  }
}

@media screen and (max-width: 1199px) {
  .card-button {
    padding: 60px 0;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-top: 0px;
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .button-list {
    margin-bottom: 40px;
    margin-top: 0px;
    padding: 0px;
  }
}

.button-list__item-button {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button-list__item-button:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.card-button__filtr-button {
  color: var(--black-text);
  background-color: var(--grey-background);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.card-button__filtr-button:hover, .card-button__filtr-button:focus {
  color: var(--white-text);
  background-color: var(--blue-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));
  }
}

@media screen and (max-width: 767px) {
  .card-set {
    padding: 0;
    margin: 0;
  }
}

.card-set__item-card:hover, .card-set__item-card:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-set__item-card:hover .card-set__hover-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 1200px) {
  .card-set__item-card {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__item-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (max-width: 767px) {
  .card-set__item-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-set__card {
  text-decoration: none;
  height: 100%;
}

.card-set__card-thumb {
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card-set__hover-box {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-background);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.card-set__text-hover {
  padding: 63px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.card-set__card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.card-set__title-cards {
  color: var(--black-text);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.card-set__text-cards {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer-nav {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--black-background);
}

.footer-section {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 479px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .futer-first {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .footer-logo {
    padding-left: 163px;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    padding-left: 113px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    padding-left: 15px;
  }
}

.footer-logo__span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--white-text);
}

.footer-logo__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--blue-text);
}

.footer-first__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer-first__address {
    margin-top: 20px;
    margin-bottom: 9px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-first__address {
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-first__address {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 132px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list {
    padding-left: 120px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-list {
    padding-left: 175px;
  }
}

.footer-list__link {
  color: var(--white-text-op);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: var(--blue-text);
}

@media screen and (min-width: 1200px) {
  .footer-second {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-second {
    position: absolute;
    top: 5px;
    right: 58px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-second {
    margin-left: 137px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .footer-second {
    margin-left: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.footer-second__text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-second__text {
    padding-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer-second__text {
    margin-left: 30px;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 80px;
  margin: 0px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 0;
}

.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--blue-text);
}

.social-footer__icons {
  width: 20px;
  height: 20px;
  fill: var(--white-text);
}

@media screen and (min-width: 1200px) {
  .footer-third {
    margin-left: 63px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .footer-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  .footer-mailing {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-mailing {
    text-align: center;
    margin-left: 166px;
    margin-top: 60px;
  }
}

.footer-mailing__mailing {
  color: var(--white-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-mailing__footer-input {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--black-background);
  outline: none;
  padding: 14px 16px;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-mailing__footer-input {
    width: 358px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-mailing__footer-input {
    width: 450px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .footer-mailing__footer-input {
    width: 350px;
    margin-right: 0px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing__submit-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-mailing__submit-button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer-mailing__submit-button {
    margin-top: 20px;
  }
}

.footer-mailing__footer-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-text);
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 27.35px 10px 29px;
}

.footer-mailing__icon-button {
  margin-left: 10px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--blue-text);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 48px;
  background-color: white;
  z-index: 999;
  overflow: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: block;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
}

.mobile-menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.mobile-menu__item + .mobile-menu__item {
  margin-top: 32px;
}

.mobile-menu__link--active {
  color: var(--blue-text);
}

.mobile-nav {
  display: inline-block;
  padding: 0;
  margin-top: 302px;
  margin-bottom: 64px;
  overflow: auto;
}

.mobile-nav__item-tel {
  margin-bottom: 32px;
}

.mobile-nav__link-tel {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-nav__link-mailto {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-mobile__link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.social-mobile__item:not(:last-child) {
  position: relative;
  margin-right: 20px;
}

.social-mobile__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 1px;
  bottom: 50%;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=main.css.map */