:root {
  --white-text: rgba(255,255,255,1);
  --white-text-op: rgba(255, 255, 255, 0.6);


  --black-text: rgba(33, 33, 33, 1);
  --black-text-logo: rgba(0, 0, 0, 1);
  --black-background: rgba(47, 48, 58, 1);


  
  --blue-text: rgba(33, 150, 243, 1);
  --blue-background: rgba(33, 150, 243, 0.9);


  --grey-text: rgba(117, 117, 117, 1);
  --grey-background: rgba(245, 244, 250, 1);


  --card-set-gap: 30px;

  --icon-color: rgba(175, 177, 184, 1);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;

}

p {
  color: var(--grey-text); 
  
}

ul {
  list-style: none; 
}

body {
  font-family: Roboto, sans-serif;

}

img {
  display: block;
  max-width: 100%;
}

header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}