.footer-nav {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--black-background);


}

.footer-section {

  position: relative;
  

  @media screen and (min-width: 1200px) {
  


    display: flex;
    align-items: baseline;
  }

  
  
}


.footer-logo {
  @media screen and (min-width: 480px) {
    padding-left: 163px;
  }


  @media screen and (min-width: 768px) {
    padding-left: 113px;
  }  

  @media screen and (min-width:1200px) {
  
    padding-left: 15px;}

  
}


.footer-logo__span {


  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--white-text); 


}

.footer-logo__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  
  color: var(--blue-text);
}


.footer-first__address {

  display: flex;


  color: var(--white-text);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {  

    margin-top: 20px;
    margin-bottom: 9px;
    padding-left: 15px;}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 76px;
  }  

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 132px;
  }  
  

}

.footer-list {
  @media screen and (min-width: 1200px) {
  
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 120px;
  }  

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-left: 175px;
  }
  
}


.footer-list__link {
  color: var(--white-text-op);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-decoration: none;

  transition: color 250ms var(--timing-function);


  &:hover,
  &:focus {
    color: var(--blue-text);}

 
}


.footer-second {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    
    position: absolute;
    top: 5px;
    right: 58px;

  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: 137px;
    margin-top: 60px;
    margin-bottom: 60px;
  } 
}


.footer-second__text {
  
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-left: 30px;
  }

}

.footer-social {
  display: flex;

  width: 206px;
  height: 80px;
  margin: 0px;
  
}

.social-footer {
  display: flex;

  margin-top: 20px;
  padding: 0;
}


.social-footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--blue-text);}


}


  

.social-footer__icons {
  width: 20px;
  height: 20px;
  fill: var(--white-text);
}


.footer-third {

  @media screen and (min-width: 1200px) {
    

    margin-left: 63px;

  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    display: flex;
  
  }

}

.footer-mailing {
  @media screen and (min-width: 1200px) {
    display: inline;}

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;

  }  

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-left: 166px;
    margin-top: 60px;
  }
}


.footer-mailing__mailing {
  color: var(--white-text);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

}

.footer-mailing__footer-input {

  

  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);


  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background: var(--black-background);
  outline: none;

  padding: 14px 16px;
  margin-right: 10px;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin-right: 0px;
  }


}

.footer-mailing__submit-button {
  @media screen and (min-width: 1200px) { 
    display: inline-flex;
    align-items: center;}

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-top: 20px;
  }  
}


.footer-mailing__footer-button {

  display: inline-flex;
  align-items: center;


  color: var(--white-text);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  padding: 10px 27.35px 10px 29px;
}


.footer-mailing__icon-button {
  margin-left: 10px;
}