
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}


.advantages-list {


  @media screen and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  
    justify-content: space-between; 
  }
}

.advantages-list__item {

  width: 270px;

  &:not(:last-child) {

    margin-right: 30px;}
}


.advantages-image {
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-right: 30px;
  margin-bottom: 30px;
  
  display: flex;

  background-color: var(--grey-background);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-image__icon-advantages {
  width: 70px;
  height: 70px;
}


.advantages-list__advantages-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages-list__advantages-title {
  color: var(--black-text);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantages-list__advantages-text {
  margin: 0;
}

.advantages-list__advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}