.backdrop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  background-color: var(--white-text);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

}


.box-close {
  display: flex;
  width: 30px;
  height: 30px;
  
  justify-content: center;
  align-items: center;

  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  right: 8px;
  top: 8px;

  
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &:hover {
    fill: var(--blue-text);}

}


.signup-form__text-up {
  
  color: var(--black-text);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

}

.signup-form__group {
  display: flex;
  flex-direction: column;
  
}

.signup-form__label {

  display: flex;

  color: var(--grey-text);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;


  margin-bottom: 4px;
}


.signup-form__input {

  width: 100%;

  padding: 10px;
  padding-left: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: non;

  &:focus {
    border-color: var(--blue-text);}

  &:focus + & {
    fill: var(--blue-text);}


}
  

.signup-form__input-wrapper {
  position: relative;
}

.signup-form__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-80%);
}

.signup-form__textarea {

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px; 

  padding: 17px 16px;
  margin-bottom: 20px;
  height: 120px;

  

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  outline: none;

  resize: none;

  &:focus {
    border-color: var(--blue-text);}
}


/* CHEKBOX */

.span {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  background: #FFFFFF;
  border-radius: 2px;
  margin-right: 8px;
}

.form-field__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &:checked + .span {
    background-color: #2196F3;
    border-color: #2196F3;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-position: center;
    background-origin: border-box;}

}


.signup-form__form-label {
  display: flex;
  align-items: center;
}


.signup-form__form-label {

  color: var(--grey-text);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  text-align: center;

  margin-bottom: 30px;
  
  

}

.signup-form__text-down-span {

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  text-decoration-line: underline;


  color: var(--blue-text);

  margin-left: 5px;

 
}

.signup-form__button-modal {

  color: var(--white-text);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
}