.work {
  padding-bottom: 94px;
}

.work__title,
.work-list {
  display: flex;
}

.work__title {

  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--black-text);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.work-list {
  justify-content: space-between;
  padding: 0;
  margin-top: 0 ;
  margin-bottom: 0px;
}

.work-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;}
}


.work-list__text {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 00.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);;
}